@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: #fafafa;
}

:root {
    --main-color: rgba(29, 93, 155, 1);
    --text-w-color: #f8f8f8;
    --bg-grey-color: #F1F0E8;
    --hover-color: #DFCCFB;
}

.bg-navbar {
    background-color: var(--main-color);

}

.logo-header {
    width: 40px;
}

.navbar-brand {
    display: flex;
}

.text-main-color {
    margin: 3px 0 0 10px;
    color: #fff;
}

.text-main-color:hover {
    text-decoration: none;
    color: var(--hover-color);
}

.dropdown-menu {
    margin-top: 11px;
    background-color: var(--bg-grey-color);
    border: none;
}


.img-item {
    height: 700px;
    object-fit: cover;
}

.navbar-containt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


/*------------- Main-content ---------------*/
.main-content {
    margin-top: 150px;
}


.content-detail {
    color: #a9a9a9;
}

.img-hover {
    transition: transform 0.4s;
    height: 100%;
    object-fit: cover;
}


.img-hover:hover {
    transform: scale(1.05);
}

.hr-line {
    margin-top: -10px;
}

.centered-text {
    text-align: justify;
}

.centered-text p {
    display: inline-block;
    color: #3b3b3b;
}

.time-load {
    display: flex;
    margin-top: 20px;
    color: #61677A;
}

.time-load i {
    margin: 5px 5px 0 5px;
}


.text-title-head {
    font-weight: 600;
}

.text-title-head:hover {
    text-decoration: none;
}

.text-bold {
    font-weight: 600;
    margin-top: -10px;
}

.row-see-alot {
    display: flex;
}

.user-comment {
    display: flex;
}

.user-comment .icon-user {
    font-size: 50px;
}

.respon-comment {
    top: 0;
    right: 0;
}

.post-comment {
    top: 0;
    left: 0;
}

.send-button {
    border: none;
    padding: 5px 0;
    border-radius: 4px;
    width: 68%;
}

.send-button:hover {
    color: white;
}

.text-title {
    color: #000;
    margin-left: 10px;
}

.time-load-second {
    margin: 10px 0 0 85px;
}


/*----------- Footer ----------*/
.footer-content {
    display: flex;
    position: relative;
    background-color: var(--main-color);
    color: var(--text-w-color);
    text-align: center;
    justify-content: center;
}

.logo-color {
    color: var(--logo-color);
}